
.brand-name {
    margin-top: 20px;
    margin-left: 47%;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.navbar {
    height: 38px;
    background-color: white;
    display: flex;
    box-shadow: #a19e9e 0 1px 5px;
    /*to applay all div on same block*/
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px;
    margin-bottom: 70px;

}

.nav-link {
    text-decoration: none;
    padding: 5px 25px;
    color: #514f4f;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;

}

.nav-link:hover {
    color: #514f4f;
    background-color: #f4f5f6;
    transition-duration: 0.4s;
}


/* lastdiv */
.last-div {
    height: 500px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #2d2d2d;
    margin-bottom: 50px;
    color: white;
}

.media-icon {
    text-align: center;
    margin-top: 100px;
}

.fa-brands {
    margin-top: 80px;
    font-size: 25px;
}

.facebook {
    margin-left: 15px;
}

.twitter {
    margin-left: 15px;
}

.insta {
    margin-left: 15px;
}

.youthub {
    margin-left: 15px;
}

footer {
    text-align: center;
    margin-top: 80px;
    margin-left: 130px;
    margin-right: 130px;
}

.last-flx {
    display: flex;
    margin-top: 50px;

}

.about-us {
    height: 200px;
    margin-left: 40px;
    width: 900px;
}

.aboutus-info {
    margin-top: 20px;
    font-size: 18px;
}

.newsletter {
    height: 200px;
    margin-left: 40px;
    margin-right: 40px;
    width: 900px;
}

.newsletter-text {
    margin-top: 20px;
    font-size: 18px;
}

.btn7 {
    text-decoration: none;
    color: white;
    background-color: #f89cab;
    padding: 10px;
}

.need-help {
    height: 200px;
    width: 900px;
}

.needhelp-info {
    margin-top: 20px;
    font-size: 18px;
}

.contactformore {
    height: 200px;
    margin-left: 40px;
    margin-right: 40px;
    width: 900px;
    display: block;
    display: grid;
    color: white;
}
.contactformore-info{
    font-weight: 100;
    text-decoration: none;
    color: white;
}

.location-logo {
    color: white;
}

.help-line {
    color: white;
}

.email-demo {
    color: white;
}